@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #413016;
  --color-secondary: #d9a24a;
  --color-third: #8b4513;
  --color-fourth: #6abea7;
  --color-fifth: #606c38;
  --color-error: #c90707;
  --color-success: #16ab11;
  --color-caution: #f0ad4e;
  --color-warning: #bb2124;
  --color-facebook-blue: #1877F2;

  --animate-shake: shake 2s linear infinite;
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
  }

  --animate-fade: fade 1s ease-in-out infinite;
  @keyframes fade {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

  --animate-fadeInUp: fadeInUp 1.5s ease-in-out forwards;
  @keyframes fadeInUp {
    0% {
      display: block;
      opacity: 0;
    }
    5% {
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fadeOutUp: fadeOutUp 1.5s ease-in-out forwards;
  @keyframes fadeOutUp {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
      display: none;
    }
  }
}

  body {
    font-family: var(--font-merriweather-sans)
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-fraunces);
  }