@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #413016;
  --color-secondary: #d9a24a;
  --color-third: #8b4513;
  --color-fourth: #6abea7;
  --color-fourth-darker: #2a4c42;
  --color-fifth: #606c38;
  --color-error: #c90707;
  --color-success: #16ab11;
  --color-caution: #f0ad4e;
  --color-warning: #bb2124;
  --color-facebook-blue: #1877F2;
  --color-links: #c7393e;
  --color-gray: #464242;

  --animate-shake: shake 2s linear infinite;
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
  }

  --animate-fade: fade 1s ease-in-out infinite;
  @keyframes fade {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

  --animate-fadeInUp: fadeInUp 1.5s ease-in-out forwards;
  @keyframes fadeInUp {
    0% {
      display: block;
      opacity: 0;
    }
    5% {
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fadeOutUp: fadeOutUp 1.5s ease-in-out forwards;
  @keyframes fadeOutUp {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
      display: none;
    }
  }
  
  --animate-ringPulse: ringPulse 1s linear infinite;
  @keyframes ringPulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
    
  }

  --animate-ringSpin: ringSpin 1.5s linear infinite;
  @keyframes ringSpin {
    to {
      transform-origin: center;
      transform: rotate(360deg);
    }
  }
}

body {
  font-family: var(--font-merriweather-sans)
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fraunces);
  text-wrap: balance;
}

.fontFraunces {
  font-family: var(--font-fraunces);
}

.fontMerriweatherSans {
  font-family: var(--font-merriweather-sans);
}

@keyframes fadeInScaleLeft {
  from { 
    opacity: 0; 
    scale: 0.5;
    transform: translateX(-50%);
  }
  to { 
    opacity: 1; 
    scale: 1;
    transform: translateX(0);
  }
}

.scrollFadeInScaleLeft {
  animation: fadeInScaleLeft linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes fadeInScaleRight {
  from { 
    opacity: 0; 
    scale: 0.5;
    transform: translateX(50%);
  }
  to { 
    opacity: 1; 
    scale: 1;
    transform: translateX(0);
  }
}

.scrollFadeInScaleRight {
  animation: fadeInScaleRight linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes scrollScale {
  from { 
    opacity: 0; 
    scale: 1.5;
  }
  to { 
    opacity: 1; 
    scale: 1;
  }
}

.scrollScale {
  animation: scrollScale linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes scaleBounce {
  0% { 
    opacity: 0; 
    scale: 0;
  }
  50% {
    opacity: 1; 
    scale: 1.05;
  }
  100% { 
    scale: 1;
  }
}

.scaleBounce {
  animation: scaleBounce linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes scrollRotateLeft {
  from { 
    transform: translateX(-50%) rotate(-360deg);

  }
  to { 
    transform: translateX(0) rotate(0deg);
  }
}

.scrollRotateLeft {
  animation: scrollRotateLeft linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

@keyframes scrollFadeInSlam {
  from { 
    opacity: 0; 
    translate: 0 3rem;
    scale: 0.5;
  }
  to { 
    opacity: 1; 
    translate: 0 0;
    scale: 1;
  }
}

.scrollFadeInSlam {
  animation: scrollFadeInSlam linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

/************************
 *   Handdrawn Circle   *
 ***********************/

.hand-drawn-ellipse {
  position: relative;
  display: inline-block;
  padding: 2px 8px;
}

.hand-drawn-ellipse::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  right: -10px;
  bottom: -5px;
  
  /* Creates an imperfect, organic oval shape */
  border: 3px solid var(--color-third);
  border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
  
  /* Rotates it slightly to simulate a human hand stroke angle */
  transform: rotate(-1.5deg);
  pointer-events: none;
}

/**********************
 *   Editor styles    *
 *********************/

.editor {
  border: 1px solid var(--color-warning);
  border-radius: 10px;
}

.editor .fr-second-toolbar {
  height: 8px;
}

.editor .fr-second-toolbar > * {
  visibility: hidden;
}



